function Terrain.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 17
call Array.new 1
pop this 2
push argument 0
push argument 0
push constant 2
call Math.divide 2
push argument 0
push constant 3
call Math.divide 2
call WichmannHill.new 3
pop this 0
push constant 200
pop this 1
push constant 2
push this 2
add
push this 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 2
add
push this 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop this 3
push this 0
push constant 100
call WichmannHill.setMax 2
pop temp 0
push pointer 0
call Terrain.newHeights 1
pop temp 0
push pointer 0
return
function Terrain.newHeights 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 17
lt
not
if-goto WHILE_END0
push this 3
not
push local 0
push constant 2
eq
not
and
push local 0
push constant 3
eq
not
and
push this 3
push local 0
push constant 12
eq
not
and
push local 0
push constant 13
eq
not
and
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 3
eq
push local 0
push constant 14
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push this 2
add
push local 0
push constant 1
sub
push this 2
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END1
label IF_FALSE1
push local 0
push constant 0
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push this 2
add
push local 0
push constant 1
sub
push this 2
add
pop pointer 1
push that 0
push constant 50
add
push this 0
call WichmannHill.next 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END2
label IF_FALSE2
push local 0
push this 2
add
push this 1
push this 0
call WichmannHill.next 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END2
push local 0
push this 2
add
pop pointer 1
push that 0
push constant 20
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push this 2
add
push constant 20
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END3
label IF_FALSE3
push local 0
push this 2
add
pop pointer 1
push that 0
push constant 220
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push this 2
add
push constant 220
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE4
label IF_END3
label IF_END1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 3
not
pop this 3
push constant 0
return
function Terrain.resetTrip 0
push argument 0
pop pointer 0
push constant 0
pop this 3
push constant 0
return
function Terrain.isReturnTrip 0
push argument 0
pop pointer 0
push this 3
return
function Terrain.draw 1
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
call Screen.setColor 1
pop temp 0
label WHILE_EXP0
push local 0
push constant 16
lt
not
if-goto WHILE_END0
push local 0
push constant 2
eq
not
push local 0
push constant 13
eq
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 32
call Math.multiply 2
push local 0
push this 2
add
pop pointer 1
push that 0
push local 0
push constant 1
add
push constant 32
call Math.multiply 2
push constant 1
sub
push local 0
push constant 1
add
push this 2
add
pop pointer 1
push that 0
call Screen.drawLine 4
pop temp 0
push local 0
push constant 32
call Math.multiply 2
push local 0
push this 2
add
pop pointer 1
push that 0
push constant 2
add
push local 0
push constant 1
add
push constant 32
call Math.multiply 2
push constant 1
sub
push local 0
push constant 1
add
push this 2
add
pop pointer 1
push that 0
push constant 2
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 32
call Math.multiply 2
push local 0
push this 2
add
pop pointer 1
push that 0
push constant 4
add
push local 0
push constant 1
add
push constant 32
call Math.multiply 2
push constant 1
sub
push local 0
push constant 1
add
push this 2
add
pop pointer 1
push that 0
push constant 4
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call Terrain.drawLandings 1
pop temp 0
push constant 0
return
function Terrain.drawLandings 0
push argument 0
pop pointer 0
push constant 64
push constant 2
push this 2
add
pop pointer 1
push that 0
push constant 96
push constant 2
push this 2
add
pop pointer 1
push that 0
call Screen.drawLine 4
pop temp 0
push constant 64
push constant 2
push this 2
add
pop pointer 1
push that 0
push constant 10
add
push constant 96
push constant 2
push this 2
add
pop pointer 1
push that 0
call Screen.drawLine 4
pop temp 0
push constant 64
push constant 2
push this 2
add
pop pointer 1
push that 0
push constant 96
push constant 2
push this 2
add
pop pointer 1
push that 0
push constant 10
add
call Screen.drawLine 4
pop temp 0
push constant 416
push constant 13
push this 2
add
pop pointer 1
push that 0
push constant 448
push constant 13
push this 2
add
pop pointer 1
push that 0
call Screen.drawLine 4
pop temp 0
push constant 416
push constant 13
push this 2
add
pop pointer 1
push that 0
push constant 10
add
push constant 448
push constant 13
push this 2
add
pop pointer 1
push that 0
call Screen.drawLine 4
pop temp 0
push constant 416
push constant 13
push this 2
add
pop pointer 1
push that 0
push constant 448
push constant 13
push this 2
add
pop pointer 1
push that 0
push constant 10
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Terrain.drawFlag 0
push argument 0
pop pointer 0
push this 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 68
push constant 2
push this 2
add
pop pointer 1
push that 0
push constant 68
push constant 2
push this 2
add
pop pointer 1
push that 0
push constant 10
sub
call Screen.drawLine 4
pop temp 0
push constant 68
push constant 2
push this 2
add
pop pointer 1
push that 0
push constant 10
sub
push constant 72
push constant 2
push this 2
add
pop pointer 1
push that 0
push constant 8
sub
call Screen.drawLine 4
pop temp 0
push constant 68
push constant 2
push this 2
add
pop pointer 1
push that 0
push constant 6
sub
push constant 72
push constant 2
push this 2
add
pop pointer 1
push that 0
push constant 8
sub
call Screen.drawLine 4
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 420
push constant 13
push this 2
add
pop pointer 1
push that 0
push constant 420
push constant 13
push this 2
add
pop pointer 1
push that 0
push constant 10
sub
call Screen.drawLine 4
pop temp 0
push constant 420
push constant 13
push this 2
add
pop pointer 1
push that 0
push constant 10
sub
push constant 424
push constant 13
push this 2
add
pop pointer 1
push that 0
push constant 8
sub
call Screen.drawLine 4
pop temp 0
push constant 420
push constant 13
push this 2
add
pop pointer 1
push that 0
push constant 6
sub
push constant 424
push constant 13
push this 2
add
pop pointer 1
push that 0
push constant 8
sub
call Screen.drawLine 4
pop temp 0
label IF_END0
push constant 0
return
function Terrain.getStartHeight 0
push argument 0
pop pointer 0
push constant 2
push this 2
add
pop pointer 1
push that 0
return
function Terrain.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
